---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/logo.png'
import config from '@/site-config'

const Programming = ['C', 'C++', 'SQL', 'Python', 'Java', 'Solidity']
const development = ['HTML','CSS','PHP', 'Git','JavaScript','TypeScript','Kotlin']
const Technologies = ['ReactJS', 'NodeJS', 'ExpressJS', 'Flutter', 'Astro']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#78DC7843'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Bengaluru'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title=''
            as='a'
            href='https://github.com/shashank-amireddy'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
            title=''
            as='a'
            href='mailto:hello@quantumloom.in'
            target='_blank'
          >
            <Icon name='email' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      {/* Get template */}
      <a
        href='./Shanks_Da_Devloper.pdf'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border border-border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>Get My Resume</p>
      </a>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Web3 Developer / Security Researcher</p>
        <p class='text-muted-foreground'>
          I’m an undergraduate student diving deep into blockchain development and cybersecurity.
No grand mission—just a genuine drive to learn, build, and solve problems that challenge me.
From writing smart contracts to cracking CTF challenges, I’m constantly leveling up through hands-on exploration.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='Amrita Vishwa Vidyapeetham'
          subheading='B.Tech in Computer Science and Engineering'
          date='August 2022 - Present'
        >
          {
            /* <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
        </ul> */
          }
        </Card>
      </Section>
<!-- 
      <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section>

      {
        allPostsByDate.length > 0 && (


          <Section title='Posts'>
            <ul class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
              {allPostsByDate.map((p) => (
                <li class=' gap-3 sm:grid-cols-2'>
                    <ProjectCard
                      href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
                      heading={p}
                      subheading='dolor sit amet, oratio ornatus explicari pro ex'
                      imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
                    />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section> -->
        <!-- ) -->
      <!-- } -->

      <Section title='Certifications'>
        <Card
          as='a'
          heading='AWS Academy Cloud Foundations'
          subheading='Completed through AWS Academy, this course provided a comprehensive introduction to cloud computing, covering core AWS services, global infrastructure, security, pricing models, and foundational architectural principles.'
          date='March 2025'
          href='https://www.credly.com/badges/dfbbce16-ba8b-419f-92b9-93de1137ef19/print'
        />
        <Card
          as='a'
          heading='C3SA Premium Edition'
          subheading='Credentialed by CyberWarFare Labs, this certification covers core concepts in cybersecurity, including network security, cryptography, and system exploitation. Focused on practical skills for identifying and mitigating real-world threats.'
          date='August 2024'
          href='https://screenshot.kajabi.com/generate-pdf?orientation=landscape&url=https%3A%2F%2Fapp.kajabi.com%2Fcertificates%2Fb7d339fb%2Fdownload%3Fscreenshot_token%3DBAhbB0kiE2FwcC5rYWphYmkuY29tBjoGRVRVOiBBY3RpdmVTdXBwb3J0OjpUaW1lV2l0aFpvbmVbCEl1OglUaW1lDddXH8A%252FQr%252FvCToJem9uZUkiCFVUQwY7AEY6DW5hbm9fbnVtaQLnAzoNbmFub19kZW5pBjoNc3VibWljcm8iB5mQSSIIVVRDBjsAVEl1OwcN11cfwD9Cv%252B8JOwhACTsJaQLnAzsKaQY7CyIHmZA%253D--d87a40dae92f63d857f99cce1a7362c95675a8e4%26screenshot_token_ts%3D1722534722'
        />
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Programming' skills={Programming} />
        <SkillLayout title='Development' skills={development} />
        <SkillLayout title='Frameworks' skills={Technologies} />
      </Section>
    </div>
  </main>
</PageLayout>
